.button {
    border: none;
    color: white;
    display: inline-block;
    font-size: $font-size-large;
    font-weight: 300;
    line-height: 1;
    padding: $s-size;
    text-decoration: none;
}

.button__default {
    background: $blue;
}

.button__google_login {
    background: $google-red;
}

.button--link {
    background: none;
    font-weight: 100;
}

.button--secondary {
    background: #888;
    margin-top: 1rem;
}