
// colors
//---------------------------------------------------
$blue: #1c88bf;
$dark-blue: darken($blue, 30);
$grey: #666;
$dark-gray: #333333;
$google-red: #F90101;
$off-white: #f5f5f5;

// font sizes
//---------------------------------------------------
$font-size-large: 1.8rem;
$font-size-small: 1.4rem;

// spacing
//----------------------------------------------------
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$desktop-breakpoint: 45rem;
